@linkcolor: #4183D7;

body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a.navbar-brand{
  font-size: x-large;
  color:@linkcolor!important;
}
li.navbar-link > a{
  font-size: large;
  color:@linkcolor!important;
}