body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a.navbar-brand {
  font-size: x-large;
  color: #4183D7 !important;
}
li.navbar-link > a {
  font-size: large;
  color: #4183D7 !important;
}
