@keyframes bucket-stream-animation {
  0% {
    padding-left: 100px;
  }
  100% {
    padding-left: 0px;
  }
}

.bucket-stream {
  animation: bucket-stream-animation 1s;
  transition: ease all 600ms;
}

body{
  background-color:#674172!important;
}
