<nav class="navbar fixed-bottom navbar-light bg-faded">
  <a class="navbar-brand" href="/#">
    <i class="fa fa-bold" aria-hidden="true" style="color:#674172;"></i>
  </a>
  <div  class="navbar-nav mr-auto">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link">
          <span>Contact</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
