<div class="container" style="margin-top:10px;">
  <div class="bucket-stream">
    <div class="row bucket-stream" *ngFor="let action of actions" style="min-height:50px;">
      <div class="col-md-12">
        <i class="fa fa-star fa-2x" style="color:#E9D460;margin-right: 20px;"></i>&nbsp;
        <label style="color: #F7F7F7;font-size:large;">{{action.message}}</label>
        </div>
    </div>
  </div>
</div>
