<top></top>
<h1>My Buckets</h1>
<div class="card-block">
  <div *ngFor="let bucket of user.buckets">
    <div class="card">
      <div class="card-header">{{bucket.details}}</div>
      <i class="fa fa-bold"></i>
    </div>
  </div>
</div>
<bottom></bottom>
