<div class="container-fluid">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

          <a class="navbar-brand" href="/#">
            <i class="fa fa-bold fa-2x" aria-hidden="true" style="color:#674172;"></i>
          </a>

        <div class="navbar-nav mr-auto" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/dashboard">World Buckets <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/my-buckets">My Buckets</a>
            </li>
            <li class="nav-item">

            </li>
          </ul>
        </div>
      <div class="pull-right">
        <img *ngIf="auth.authenticated()" class="avatar" src="{{auth.getProfile()['picture']}}" style="-webkit-border-radius:60%;-moz-border-radius:60%;border-radius: 60%;width:50px;height: 50px;"/>
        <!--<button *ngIf="!user"class="btn btn-default" onclick="lock.show();">Login</button>-->
        <button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
        <button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>
      </div>
    </nav>
</div>
