<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link href="/static/_base.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script   src="https://code.jquery.com/jquery-2.2.1.js"   integrity="sha256-eNcUzO3jsv0XlJLveFEkbB8bA7/CroNpNVk3XpmnwHc=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% block scripts %}
{% endblock scripts %}
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #3a2240;border:none">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Bucket lists</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="navbar-link"><a href="#">About</a></li>
            <li class="navbar-link"><a href="/dashboard">Dashboard</a></li>
            <li class="navbar-link"><a href="/my-buckets">My Buckets</a></li>
          </ul>
        <div class="pull-right">
            {% if user %}
            <img class="avatar" src="{{user['picture']}}" style="-webkit-border-radius:60%;-moz-border-radius:60%;border-radius: 60%;width:50px;height: 50px;"/>
            {% endif %}
            {% if not user %}
            <button class="btn btn-default" onclick="lock.show();">Login</button>
            {% endif %}
        </div>
        </div><!--/.nav-collapse -->

      </div>
</nav>
<div class="container-fluid" style="margin-top: 50px;background-color: #42274a;min-height: 600px;">
{% block contents %}
{% endblock contents %}
</div>
<footer></footer>
<script src="https://cdn.auth0.com/js/lock/10.12.1/lock.min.js"></script>
<script>
  var lock = new Auth0Lock('CZT3E2Vvz0w62AQ2IJnx5eZldyDBa6tp', 'digitalsense.eu.auth0.com', {
    auth: {
      redirectUrl: 'http://localhost:5000/callback',
      responseType: 'code',
      params: {
        scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
      }
    }
  });
</script>
{% block scripts_at_end %}
{% endblock scripts_at_end %}
</body>
</html>