{% extends "_base.html" %}
{% block contents %}
    <div class="cards">
        <i class="fa fa-bitbucket fa-4x" aria-hidden="true"></i>
        <i class="fa fa-bitbucket fa-4x" aria-hidden="true"></i>
        <i class="fa fa-bitbucket fa-4x" aria-hidden="true"></i>
    </div>
{% endblock contents %}