{% extends "_base.html" %}
{% block contents %}
    <form method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=Upload>
    </form>
{% endblock contents %}